
@media (min-width: 320px) {
  .desktop-fourth-section{
    display: none;
  }
  /* !!! */
  .first-desktop-section{
    display: none;
  }
  .desktop-header{
    display: none;
  }
  .tablet-header {
    display: none;
  }
  .mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header-bg {
    position: fixed;
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 5;
  }
  .vector {
    width: 40px;
    height: 40px;
  }
  .header-box {
    display: flex;
  }
  .header-box h6 {
    font-size: 24px;
    line-height: 40px;
    margin-left: 10px;
  }
  .header-block {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(93, 80, 198, 1);
  }
  .fa-bars {
    font-size: 30px;
    color: white;
  }

  /* !!! */
  .first-section {
    width: 95%;
    margin: 0 auto;
    display: grid;
    padding-top: 112px;
  }
  .first-section img {
    width: 100%;
    height: 147.52px;
    margin: 32px 0;
  }
  .first-block {
    display: grid;
    margin-bottom: 32px;
  }
  .first-block div img {
    height: 144px;
  }
  .first-block div p {
    width: 100%;
    font-size: 16px;
    line-height: 25.6px;
    text-align: center;
  }
  .block {
    margin-top: 32px;
    background-color: rgba(93, 80, 198, 1);
    width: 100%;
    border-radius: 100px;
    height: 65px;
    display: grid;
    justify-content: center;
    align-content: center;
  }
  .block h5 {
    color: white;
    font-size: 14px;
    line-height: 16.8px;
  }
  .block {
    box-shadow: 1px 25px 20px rgb(117, 112, 112);
  }
  .second-block {
    margin-top: 24px;
    background-color: rgba(238, 238, 238, 1);
    width: 100%;
    border-radius: 100px;
    height: 72px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
  }
  .second-block div {
    width: 20px;
    height: 20px;
    background-color: rgba(93, 80, 198, 1);
    border-radius: 100px;
    display: grid;
    justify-content: center;
    align-content: center;
  }
  .fa-play {
    color: white;
    font-size: 10px;
  }
  .class-h6 {
    margin-left: 8px;
  }
  /* !!! */
  .second-section {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 75px;
  }
  .second-section img {
    width: 100%;
  }
  /* !section #3 */
  .third-section {
    width: 90%;
    display: grid;
    margin: 32px auto;
  }
  .third-div-box h6 {
    font-size: 16px;
    line-height: 19.2px;

    text-align: center;
    color: rgba(248, 94, 159, 1);
  }
  .third-div-box h5 {
    width: 100%;
    font-size: 32px;
    line-height: 38.4px;
    text-align: center;
    color: rgba(25, 24, 37, 1);
  }
  .box-1 {
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .div-box {
    margin-bottom: 32px;
  }

  .box-block:first-child {
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: 1px solid rgba(25, 24, 37, 0.1);
    display: grid;
    justify-content: center;
    align-content: center;
  }
  .box-block:last-child {
    width: 64px;
    height: 64px;
    border-radius: 100px;
    background-color: rgba(93, 80, 198, 1);
    border: 1px solid rgba(25, 24, 37, 0.1);
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .first-container-box {
    margin: 32px;
  }
  .first-container img {
    width: 100%;
    height: 324px;
    border-radius: 32px 32px 0px 0px;
  }
  .first-container-box h6 {
    color: rgba(248, 94, 159, 1);
    font-size: 23px;
    line-height: 27.6px;
  }
  .first-container-box h5 {
    color: rgba(25, 24, 37, 1);
    font-size: 23px;
    line-height: 27.6px;
  }
  .first-container-box h4 {
    color: rgba(25, 24, 37, 0.75);
    font-size: 18px;
    line-height: 28.8px;
  }
  .first-container-block {
    display: flex;

    font-size: 23px;
    line-height: 27.6px;
    color: rgba(255, 87, 34, 1);
  }
  .fa-star {
    color: rgba(255, 87, 34, 1);
    font-size: 23px;
    margin-left: 2px;
  }
  .first-container-block {
    margin-left: 32px;
    margin-bottom: 32px;
  }
  /* !!! */
  .fourth-section {
    margin: 0 auto;
    margin-bottom: 38.51px;
    width: 90%;
  }
  .fourth-section img {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 64px;
  }
  .fourth-block h6 {
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
    color: rgba(248, 94, 159, 1);
  }
  .fourth-block h5 {
    font-size: 32px;
    line-height: 38.4px;
    text-align: center;
  }
  .fourth-block p {
    font-size: 16px;
    line-height: 25.6px;
    text-align: center;
  }
  .fourth-block {
    margin-bottom: 32px;
  }
  .div-text h6 {
    color: rgba(255, 87, 34, 1);
    font-size: 35px;
    line-height: 42px;
  }
  .div-text h4 {
    color: rgba(25, 24, 37, 1);
    font-size: 18px;
    line-height: 28.8px;
  }
  .div-text {
    border-radius: 32px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 151px;
    border: 1px solid rgba(25, 24, 37, 0.1);
    color: rgba(25, 24, 37, 0.1);
  }
  /* !!! */
  .fifth-section {
    padding: 32px;
  }
  .box-wraper h3 {
    color: rgba(248, 94, 159, 1);
    line-height: 19.2px;
    font-size: 16px;
    text-align: center;
  }
  .box-wraper h5 {
    color: rgba(25, 24, 37, 1);
    line-height: 38.4px;
    font-size: 32px;
    text-align: center;
    margin-top: 16px;
  }
  .box-wraper p {
    margin-top: 32px;
    margin-bottom: 32px;
    color: rgba(25, 24, 37, 0.5);
    font-size: 16px;
    line-height: 25.6px;
    text-align: center;
  }
  .wraper1 {
    width: 100px;
    height: 100px;
    border-radius: 32px;
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: rgba(255, 87, 34, 1);
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .fa-location-dot {
    color: white;
    font-size: 40px;
  }
  .wraper2 h2 {
    font-size: 23px;
    line-height: 27.6px;
  }
  .wraper2 h6 {
    font-size: 18px;
    line-height: 28.8px;
    color: rgba(25, 24, 37, 0.5);
  }
  .wraper2 {
    margin-left: 32px;
    margin-bottom: 32px;
  }
  .fa-calendar-days {
    font-size: 40px;
    color: white;
  }
  .wraper-box {
    width: 100px;
    height: 100px;
    border-radius: 32px;
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: rgba(250, 205, 73, 1);
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .money {
    width: 100px;
    height: 100px;
    border-radius: 32px;
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: rgba(248, 94, 159, 1);
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .fa-money-bill {
    font-size: 40px;
    color: white;
  }
  /* !!! */
  .footer-bg {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 36px;
  }
  .footer-logo h6 {
    margin-left: 16px;
  }
  .footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }
  .first-footer-box p {
    font-size: 16px;
    line-height: 25.6px;
    color: rgba(25, 24, 37, 0.5);
    text-align: center;
  }
  .first-footer-box {
    display: grid;
  }
  .social-icon {
    margin-top: 32px;
    width: 160px;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .social-icon div {
    width: 32px;
    height: 32px;
    background-color: rgba(93, 80, 198, 1);
    border-radius: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .fa-facebook-f {
    color: white;
    font-size: 20px;
  }
  .fa-twitter {
    color: white;
    font-size: 20px;
  }
  .fa-instagram {
    color: white;
    font-size: 20px;
  }
  .company {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
  }
  .company div {
    width: 24px;
    height: 24px;
    border: 1px solid black;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 100px;
  }
  .fa-chevron-down {
    font-size: 15px;
    color: black;
  }
  .company h6 {
    font-size: 23px;
    line-height: 27.6px;
  }
  .tablet-div {
    display: none;
  }
}
@media (min-width: 480px) {
  .desktop-fourth-section{
    display: none;
  }
  .first-desktop-section{
    display: none;
  }
  .desktop-header{
    display: none;
  }
  /* !!! header */
  .mobile {
    display: none;
  }

  .tablet-box {
    display: flex;
    align-items: center;
  }
  .tablet-block {
    display: flex;
  }
  .tablet-block-2 {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 105px;
    height: 49px;
  }
  .tablet-block-1 {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgba(93, 80, 198, 1);
    width: 115px;
    height: 49px;
    border-radius: 100px;
    color: white;
  }
  .tablet-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  /* !!! section #1 */
  .first-section img {
    width: 90%;
    height: 287.38px;
    margin: 0 auto;
  }
  .first-block div img {
    height: 134px;
    margin-top: 64px;
    margin-bottom: 43px;
  }
  .flex {
    display: flex;
    width: 338px;
    height: 49px;
    margin-top: 43px;
    margin-bottom: 64px;
  }
  .block {
    width: 141px;
    margin-top: 0px;
    height: 49px;
  }
  .second-block {
    width:  181px;
    margin-top: 0px;
    height: 49px;
  }
  .space-around {
    display: flex;
    justify-content: center;
  }
  /* !section #2 */
  .second-section {
    padding-top: 64px;
  }
  /* !section #3 */
  .box-1 {
    justify-content: center;
  }
  .box-block:first-child {
    margin-right: 32px;
  }
  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .first-container {
    width: 30%;
  }
  .first-container img {
    width: 100%;
    height: 314px;
    object-fit: cover;
  }
  .first-container-block {
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
  }
  .first-container-box {
    height: 137px;
    width: 100%;
  }
  .first-container-box h6 {
    margin: 0;
    font-size: 23px;
    line-height: 27.6px;
  }
  .first-container-box h5 {
    margin: 0;
    font-size: 23px;
    line-height: 27.6px;
  }
  .first-container-box h4 {
    margin: 0;
    font-size: 18px;
    line-height: 28.8px;
  }
  /* ! section #4 */
  .text-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  /* !!footer */
  .mobile-div {
    display: none;
  }
  .tablet-div {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 64px;
  }
  .first-tablet-div {
    width: 30%;
  }
  .first-tablet-div h6 {
    font-size: 23px;
    line-height: 27.6px;
  }
  .first-tablet-div h5 {
    margin-top: 32px;
  }
}
@media (min-width: 1024px) {
  /* !header */
  .mobile {
    display: none;
  }
  .tablet-header {
    display: none;
  }
  .desktop-header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .nav-ul {
    display: flex;
  }
  .a-class {
    margin-right: 30px;
  }
  .desktop-header-div {
    display: flex;
    align-items: center;
  }
  .nav-ul li a {
    color: black;
  }
  /* !section #1 */
  .first-section{
    display: none;
  }
  .first-desktop-section{
    padding-top: 112px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left-section{
    width: 412px;
  }
  .p-class{
    margin-top: 43px;
    font-size: 18px;
    line-height: 28.8px;
    color: rgba(25, 24, 37, 0.5);
  }
  .desktop-block{
    width:  181px;
    margin-top: 0px;
    height: 56px;
    background-color: rgba(238, 238, 238, 1);
  
    border-radius: 100px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
  }
  .right-section img{
     width: 100%;
     height: 287.38px;
  }
  .desktop-block div{
    width: 20px;
    height: 20px;
    background-color: rgba(93, 80, 198, 1);
    border-radius: 100px;
    display: grid;
    justify-content: center;
    align-content: center;
  }
  .second-section{
    display: flex;
  }
  .div-box{
    display: flex;
    justify-content: space-between;
  }
  .box-1{
    
    width: 200px;
    display: flex;
    justify-content: space-between;    
  }
   .fourth-section{
    display: none;
   }
  
  /* ! */
  .desktop-fourth-section{
    max-width: 1312px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left-fourth-section{
    width: 871px;
  }
  .left-fourth-section img{
   /*  */
    width: 100%;
  } 

  .right-fourth-section h6{
    color: rgba(248, 94, 159, 1);
    font-size: 23px;
    line-height: 27.6px;
  }
  .right-fourth-section h5{
    font-size: 44px;
    line-height: 52.8px
  }
  .right-fourth-section p{
     font-size: 18px;
     line-height: 28.8px;
     color: rgba(25, 24, 37, 0.5);
  }
  .text-box{
    margin-top: 64px;
  }
  .div-text h6{
    color: rgba(255, 87, 34, 1);
  }

  /* !!!section #5 */
  .box-wraper{
    display: grid;
    justify-items: flex-start;
  }
  /* !footer */
  .footer-bg{
    max-width: 1180px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .first-footer-box{
    display: grid;
    justify-items: flex-start;
    
  }
  .first-footer-box p{
    font-size: 23px;
    line-height: 36.8px;
  }
}
